librosa==0.11.0
fairseq==0.12.2
numpy==1.26.4
requests==2.32.3
scipy==1.15.2
soundfile==0.13.1
sounddevice==0.5.1
tqdm==4.67.1
rich==14.2.0
loguru==0.7.3
praat-parselmouth==0.4.5
tensorboard==2.19.0
transformers==4.51.3
pyyaml==6.0.2
torchcrepe
# PySimpleGUI
# tensorboardX
